<h1>Listado de Libros</h1>
<hr>

<div class="ros">
    <div class="col text-right">
        <button class="btn btn-primary" routerLink="/book/nuevo">
      <i class="fa fa-plus"></i>
      Agregar
    </button>
    </div>
</div>

<table class="table mt-3 animated fadeIn faster">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Autor</th>
            <th scope="col">Nombre</th>
            <th scope="col">Año</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let list of bookList; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{list.nombre}}</td>
            <td>{{list.anio}}</td>
            <td>{{list.autor}}</td>
            <td>
                <button class="btn btn-success" style="margin-right: 5px;" [routerLink]="['/book', list.id ]"><i class="fa fa-pen"></i> Modificar</button>
                <button class="btn btn-danger" (click)="deleteBook( list.id, i) "><i class="fa fa-trash"></i> Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="!cargando && bookList.length === 0" class="alert alert-warning text-center mt-3">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>
</div>

<div *ngIf="cargando" class="alert alert-info text-center mt-3">
    <h4 class="alert-heading">Cargando</h4>
    <p>
        <i class="fa fa-sync-alt fa-spin fa-2x"></i>
    </p>
    <p class="mb-0">
        Espere por favor
    </p>
</div>
