<h1>Autor <small>{{author.nombre}} {{author.apellido}}</small></h1>
<hr>

<div class="row text-right">
    <div class="col">
        <button class="btn btn-danger" routerLink="/authors">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
    </div>

</div>

<div class="row animated fadeIn faster">
    <div class="col">
        <form (ngSubmit)="guardar(f)" #f="ngForm">
            <div class="form-group">
                <label>Firebase ID</label>
                <input type="text" class="form-control" [(ngModel)]="author.id" name="id" placeholder="Firebase ID" disabled="disabled">
                <small>Este campo es autogenerado</small>
            </div>
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" [(ngModel)]="author.nombre" name="nombre" placeholder="Nombre del autor" required>
            </div>
            <div class="form-group">
                <label>Apellido</label>
                <input type="text" class="form-control" [(ngModel)]="author.apellido" name="apellido" placeholder="Apellido del autor" required>
            </div>
            <div class="form-group">
                <label>Estado</label>
                <br>
                <button *ngIf="author.vivo" (click)="author.vivo = false" class="btn btn-outline-success w-25" type="button">
                  <i class="fa fa-smile-wink"></i>
                  Vivo
                </button>
                <button *ngIf="!author.vivo" (click)="author.vivo = true" class="btn btn-outline-danger w-25" type="button">
                    <i class="fa fa-dizzy"></i>
                    Fallecido
                  </button>
            </div>
            <hr>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary w-25">
                  <i class="fa fa-save"></i>
                  Guardar
                </button>
            </div>
        </form>
    </div>
</div>